<form
  [formGroup]="this.parentForm">
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Email</mat-label>
    <input
      matInput
      [type]="'email'"
      #message
      maxlength="35"
      [formControlName]="this.name"
      placeholder="Enter your email">
    <mat-hint align="end">{{message.value.length}} / 35</mat-hint>
    <mat-error *ngIf="this.parentForm?.get(this.name)?.hasError('required')">
      <strong> * Requerido </strong>
    </mat-error>
    <mat-error *ngIf="this.parentForm?.get(this.name)?.hasError('email')">
      <strong> * incompleto </strong>
    </mat-error>
    <mat-error *ngIf="this.parentForm?.get(this.name)?.hasError('max')">
      <strong> * max 64 caracteres </strong>
    </mat-error>
  </mat-form-field>
</form>

