<form
  [formGroup]="parentForm"
>
  <mat-form-field class="full-width" appearance="fill">
    <mat-label>Password</mat-label>
    <input
      matInput
      #message
      [type]="'password'"
      maxlength="16"
      [formControlName]="this.name"
      placeholder="Enter your password"
    >
    <mat-hint align="end">{{message.value.length}} / 16</mat-hint>
    <mat-error *ngIf="this.parentForm?.get(this.name)?.hasError('required')">
      <strong> * Requerido </strong></mat-error>
  </mat-form-field>
</form>
